 @media only screen and (max-height:900.5px) {
   .parent {
     background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
     width: 1920px;
     height: 740px;
   }


   .footer {
     position: relative;
     width: 1920px;
     height: 87px;
     bottom: 85.6%;
     background-color: #191919;
   }

 }


 @media only screen and (min-height:900.6px) {
   .parent {
     background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
     width: 1920px;
     height: 821px;
   }

   .text-contenedor0 {
     top: 12%;
     left: 11%;

   }



   .ALERT_ENCRYPT {

     top: 33em;

   }

   .ALERT_DESCRYPT {
     top: 33em;
   }

   .ALERT_COPY {

     top: 29em;

   }

   .check-img {
     bottom: 0.17em;
     left: 47.42%;
     width: 42PX;
     height: 42PX;
     z-index: 2;
     opacity: 100%;
   }

   .error-img {
     bottom: 0.30em;
     left: 45.16%;
     width: 39PX;
     height: 39PX;
     z-index: 0;
     opacity: 0%;
   }


   .buttons {
     top: 82%;
   }

   .text-decrypt {
     position: relative;

     bottom: 44em;
     left: 65%;
     width: 34.5em;
     height: 42em;
     resize: none;

   }

   .footer {
     position: relative;
     width: 1920px;
     height: 87px;
     bottom: 76.1%;
     background-color: #191919;
   }
 }